@use "./variables" as v;
@import url("https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Carter+One&family=Geist:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  width: 100%;
  background-color: var(--bg-color-black);
  font-family: "Roboto", sans-serif;
  transition: background-color 0.3s ;
}

body.dark {
 --bg-color: #121212;      /* أسود غامق للـ body */
  --card-bg: #1e1e1e;       /* أسود مائل للرمادي للأقسام والبطاقات */
  --text-color: #ffffff;    /* نصوص بيضاء */
  --border-color: #333333;  /* حدود داكنة */
  --bg-color-section: #1e1e1e;
  --bg-color-data-hover: #e6e6e62b;
  --bg-color-btn: #090909;
  --bg-color-selected: #424242;
  --box-shadow-tailwind: 0 4px 6px -1px rgb(255 255 255 / 0.1), 0 2px 4px -2px rgb(255 255 255 / 0.1);
}

 section, article, nav, .card {
  background-color: var(--card-bg);
  color: var(--text-color) ;
  border-color: var(--border-color);
  transition: background-color 0.3s, color 0.3s;
}

a {
  text-decoration: none;
  color: var(--text-color);
}
ul {
  list-style: none;
}

button {
  border: none;
}

input {
  border: none;
  outline: none;
}

h1, h2, h3 {
  @media (max-width: v.$width-sm) {
    font-size: var(--space-sm) !important ;
  }
}

svg {
  @media (max-width: v.$width-sm) {
    width: 20px !important;
    height: 20px !important;
  }
}