@use "../../../styles/variables" as v;

.search {
  --padding-box: 12px 15px;
  --border-radius-box: 35px;
  width: 80%;
  @include v.flex-row(flex-start, stretch);
  box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.5);
  margin: auto;
  border-radius: var(--border-radius-box);
  z-index: 1;
  position: relative;
  background-color: var(--bg-color-selected);
  clip-path: inset(0 round var(--border-radius-box));
  transition:
    transform var(--transition-main),
    width var(--transition-main);
  &.active {
    background-color: var(--bg-color-active);
    overflow: hidden;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 100%;
    border-radius: inherit;
    background-color: var(--bg-color-selected);
    opacity: 0;
    visibility: hidden;
    transform: scale(0.95);

    transition:
      width 0.3s cubic-bezier(0.4, 0, 0.2, 1),
      transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
      opacity 0.1s ease,
      visibility 0.3s,
      left 0.3s,
      right 0.3s;
  }

  &[data-active="where"]::before {
    width: calc(100% / 3);
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
  }

  &[data-active="when"]::before {
    width: calc(100% / 3);
    opacity: 1;
    visibility: visible;
    transform: translateX(100%);
  }

  &[data-active="who"]::before {
    width: calc(100% / 3);
    opacity: 1;
    visibility: visible;
    transform: translateX(200%);
  }

  &_btn {
    flex: 1;
    min-width: 0;
    padding: var(--padding-box);
    position: relative;
    border-radius: inherit;
    transition: background-color var(--transition-main);
    cursor: pointer;
    @include v.flex-column(xxs);

    &:hover {
      background-color: var(--bg-color-btn-active-hover)
    }

    p {
      @include v.typography-style(sm, sm, text-color);
    }
    span {
      @include v.typography-style(xs, sm, bg-color-grey);
    }

    &.where .inp-box {
      @include v.flex-row(space-between, center, md);

      .inp {
        background-color: transparent;
        @include v.typography-style(xs, sm, text-color);
        width: 90%;
      }
      .close {
        background-color: transparent;
        cursor: pointer;
        color: var(--text-color);
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }

    &.when {
      &::before {
        content: "";
        position: absolute;
        top: 30%;
        left: 0;
        height: calc(100% - 60%);
        width: 2px;
        background-color: var(--bg-color-btn);
      }
      &::after {
        content: "";
        position: absolute;
        top: 30%;
        right: 0;
        height: calc(100% - 60%);
        width: 2px;
        background-color: var(--bg-color-btn);
      }
    }

    &.who .search_icon {
      position: absolute;
      overflow: hidden;
      right: 5px;
      top: 3px;
      @include v.flex-row(center, center);
      padding: 20px;
      background-color: var(--bg-color-core);
      border-radius: 50%;
      color: var(--bg-color-white);
      transition: all 0.3s ease-in-out;

      &.visible {
        border-radius: 40px;
        gap: var(--space-xs);

        span {
          transform: translateX(0);
          opacity: 1;
          visibility: visible;
          max-width: 100px; 
        }
      }

      span {
        @include v.typography-style(sm, main, bg-color-white);
        display: inline-block; 
        transform: translateX(50px);
        opacity: 0;
        visibility: hidden;
        max-width: 0; 
        overflow: hidden;

        transition:
          transform var(--transition-main),
          opacity var(--transition-main),
          max-width var(--transition-main),
          visibility var(--transition-main);
      }
    }
  }

  &_input {
    display: none;
    padding: var(--padding-box);
    cursor: pointer;
    @include v.typography-style(sm, main, bg-color-black);
  }

  .drop-down {
    overflow: hidden;
    padding: 5px;
    box-shadow: var(--box-shadow-tailwind);
    [class*="child-"] {
      @include v.flex-column(xs);
      overflow-y: auto;
      padding: 20px;
      max-height: 100%;
      scrollbar-width: thin;
      scrollbar-color: var(--bg-color-border) transparent;

      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-button {
        display: none;
        width: 0;
        height: 0;
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--bg-color-border);
        border-radius: 4px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      .where_card-btn {
        @include v.flex-row(flex-start, stretch, xs);
        padding: 15px 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color var(--transition-main);
        .svg {
          @include v.flex-row(center, center);
          padding: 10px;
          border-radius: inherit;
        }

        .card_descraption {
          @include v.flex-column(xxs);
          span {
            @include v.typography-style(sm, main, text-color);
          }
          p {
            @include v.typography-style(xs, sm, bg-color-grey);
          }
        }
        &.search-city {
          align-items: center;
        }

        &:hover {
          background-color: var(--bg-color-btn);
        }
      }

      .who_card-btn {
        @include v.flex-row(space-between, center, xs);
        padding: var(--padding-box);
        .who-descraption {
          @include v.flex-column(xxs);
          span {
            @include v.typography-style(sm, main, text-color);
          }
          p {
            @include v.typography-style(xs, sm, bg-color-grey);
          }
        }
        .who-number {
          @include v.flex-row(center, center, xs);
          @include v.typography-style(sm, main, text-color);
          .increment,
          .discriment {
            @include v.flex-row(center, center);
            padding: 10px;
            background-color: var(--bg-color-data-hover);
            border-radius: 50%;
            cursor: pointer;
            -webkit-user-select: none;
            user-select: none;
            svg {
              width: 20px;
              height: 20px;
              color: var(--text-color);
            }

            &:disabled {
              cursor: not-allowed;
              background-color: var(--bg-color-btn);
              svg {
                color: #fbf7f7a8
              }
            }
          }
          .valued {
            @include v.flex-row(center, center);
          }
        }
      }
    }
  }
}


@media (max-width: v.$width-xxl) {
  .search {
    width: 90%;
    @include v.flex-row(center, center);
    &_btn {
      display: none;
    }
    &_input {
      @include v.flex-row(center, center, xs);
    }
  }
}
