@use "/src/styles/variables" as v;

.list_search {
  --box-shadow: 0 0px 1px 0px rgb(134 134 134);
  --border-radius: var(--space-sm);
  --padding-inputs: var(--space-xxs);
  --line-height: 2.2;
  @include v.container-padding();
  padding-top: 45px;
  padding-bottom: 45px;
  opacity: 0;
  visibility: hidden;
  display: none;

  &.visible {
    opacity: 1;
    visibility: visible;
    display: block;
  }
  .container {
    padding: 5px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    @include v.flex-row(flex-start, center);
    gap: 10px;

    .box-input {
      flex: 1 1 0;
      box-shadow: var(--box-shadow);
      background-color: var(--bg-color-section);
      border-radius: var(--border-radius);
      padding: var(--padding-inputs);
      @include v.typography-style(sm, main);
      @include v.flex-row(space-between, center);
      &.city_inp, &.street-address {

        svg {
          padding-right: 8px;
        }
      }
      &.price {
        line-height: var(--line-height);
        cursor: pointer;
      }

      //   شارع
    }
  }
}

// inputs

input {
  text-transform: capitalize;
  background-color: transparent;
  line-height: var(--line-height);
  @include v.typography-style(sm, main);
}
