@use "../../../../styles/variables" as v;
$drop-down: (
  "global": (
    "width": 80%,
    "height": 500px,
    "transform": translateY(-40px),
  ),
  "menu": (
    "width": 330px,
    "height": 240px,
    "transform": translateY(10px),
  ),
);

.dialog[class*="drop-down-"] {
  position: absolute;
  background-color: var(--bg-color-white);
  top: calc(80px + 10px);
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 0 10px -4px rgba(0 0 0 / 0.2);
  z-index: 1;
  transition: transform 0.4s ease;
  max-height: 550px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--bg-color-black) transparent;

  opacity: 0;
  visibility: hidden;
  transform: translateY(0);

  .global-language {
    @include v.flex-column(sm);
    &_close {
      @include v.flex-row(center, center);
      cursor: pointer;
      width: fit-content;
      padding: var(--space-xs);
      border-radius: 50%;
      transition: background-color var(--transition-main);
      
      
      &:hover {
        background-color: var(--bg-color-selected);
      }
    }
  }

  @media (max-width: v.$width-md) {
    top: calc(70px + 10px);
  }
}
@each $class-name, $properties in $drop-down {
  $width: map-get($properties, "width");
  $height: map-get($properties, "height");
  $transform: map-get($properties, "transform");

  .dialog.drop-down-#{$class-name} {
    width: $width;
    height: $height;
    transform: $transform;
    visibility: visible;
    opacity: 1;
    padding: var(--space-sm);

    @if $class-name == menu {
      right: 20px;
      border-radius: var(--border-radius-xl);
    } @else {
      left: 10%;
      right: auto;
      top: 140px;
      border-radius: 40px;

    }
  }
}
